body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#057a7a;
    font-family:arial,Helvetica, Sans-serif;
}
.calculator{
    background:#ffff;
    padding: 60px;
    border:radius 10px;
    width: 300px;
}
#display{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom:15px;
    text-align:right;
    padding: 5px 10px;
    border:none;
    border-radius: 5px;
}
.buttons{
    height: 50px;
    font: size 18px;
border: none;
border-radius: 5px;
cursor:pointer;
}
button:hover{ 
    opacity:0.9;
}
.operator{
    background:#10bbe6;
    color:white;
}
.equal{
    background:#10bbe6;
    color:white;
}
clear{
    background:#10bbe6;
    color:white;
}